*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: 27vh;
  background-color: hsl(225, 100%, 98%);
  padding-top: 15px;
}
body {
  background-color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
}
hr {
  display: none;
}
.half {
  width: 78%;
  margin: auto;
}
.top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.switch-btn {
  height: 22px;
  width: 45px;
  border-radius: 27px;
  border: none;
  background-color: hsl(230, 22%, 74%);
  padding: 3px;
  cursor: pointer;
  transition-property: all;
  outline: none;
}
.switch-btn:hover {
  background-image: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.roller-btn {
  background-color: hsl(227, 47%, 96%);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-left: auto;
  transition-property: all;
}
.social {
  color: hsl(230, 17%, 14%);
}
.mode {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mode p {
  margin-right: 10px;
}
.middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.8rem;
  grid-auto-rows: 190px;
  margin-bottom: 30px;
}
.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: hsl(227, 47%, 96%);
  border-radius: 4px;
  cursor: pointer;
}
.tabs:hover {
  background-color: hsl(230, 22%, 74%);
}
.view:hover {
  background-color: hsl(230, 22%, 74%);
}
.top-text{
  display: flex;
  justify-content: center;
}
.top-text img {
  margin-right: 3px;
}
.top-text span {
  margin-left: 3px;
  font-weight: bold;
}
.tabs h1 {
  font-size: 3rem;
}
.small {
  color: hsl(228, 12%, 44%);
  font-weight: bold;
}
.tabs p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}
.one {
  border-top: 4px solid hsl(208, 92%, 53%);
}
.two {
  border-top: 4px solid hsl(203, 89%, 53%);
}
.three {
  border-top: 4px solid;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)); 
  border-image-slice: 1; 
}
.four {
  border-top: 4px solid hsl(348, 97%, 39%);
}
.bottom-text img, .icon img{
  padding-bottom: 3px;
}
.overview {
  width: 78%;
  margin: auto;
}
.overview-head {
  margin-bottom: 15px;
  color: hsl(228, 12%, 44%);
  font-size: 1.6rem;
  font-weight: bold;
}
.overview-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.8rem;
  grid-row-gap: 1.4rem;
  grid-auto-rows: 120px;
}
.view {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  background-color: hsl(227, 47%, 96%);
  cursor: pointer;
}
.first-view, .second-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-view p {
  font-size: 2rem;
  font-weight: bold;
}
.icon{
  padding-bottom: 5px;
}
.second-view{
  align-items: flex-end;
}
.red {
  color: hsl(356, 69%, 56%);
  font-weight: bold;
}
.green {
  color: hsl(163, 72%, 41%);
  font-weight: bold;
}
.show-btn {
  background-image: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.bg-change {
  background-color: hsl(232, 19%, 15%);
}
.change-body {
  background-color: hsl(230, 17%, 14%);
}
.change-roller {
  background-color: hsl(228, 28%, 20%);
  margin-left: unset;
  transition: 2s ease;
}
.card-change{
  background-color: hsl(228, 28%, 20%);
}
.card-change:hover{
  background-color: hsl(231, 24%, 27%);
}
.change-text {
  color: hsl(0, 0%, 100%);
}
.change-small {
  color: hsl(228, 34%, 66%);
}

@media (max-width:1100px) {
  .middle {
    grid-template-columns: repeat(2, 1fr);
  }
  .overview-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .attribution {
    margin-bottom: 15px;
  }
}
@media (max-width:600px) {
  .middle {
    grid-template-columns: 1fr;
  }
  .overview-grid {
    grid-template-columns: 1fr;
  }
  .top {
    flex-direction: column;
  }
  hr {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .dashboard h2 {
    margin-bottom:4px;
  }
  .mode {
    justify-content: space-between;
  }
  main {
    height: 33vh;
  }
  .attribution {
    margin-bottom: 15px;
  }
}


















